<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>borsholder</title>
    <link rel="stylesheet" href="static/common.css?v=6">
    <link rel="icon" href="static/favicon.png?v=1" type="image/png">
    <base target="_blank">
</head>
<body>
    {% import "macros.html" as m %}
    <div id="bar">
        <span>
            <span class="sort-by-description"></span>
            <select id="sort">
                <option value="priority">approval status</option>
                <option value="update">recent update</option>
                <option value="complexity">complexity</option>
            </select>
        </span>
        <span>
            <span class="count-total">{{ stats.count }}</span>
            <span class="count-approved">{{ stats.approved }}</span>
            <span class="count-rollups">{{ stats.rollups }}</span>
        </span>
        <span id="bar-details">
            <input id="filter" type="search" placeholder="filter (case-insensitive regex)">
            <button id="select">Select…</button>
        </span>
        <button id="rollup">Create rollup</button>
        <span>(<span id="select-count">0</span>)</span>
        <span id="filter-status"></span>
    </div>
    <p id="loading-text">(Still loading, please wait…)</p>
    <ul id="queue">
        {%- for number, pr in prs -%}
            {%- set update_at = pr.updated_at -%}
        <li id="pr-{{ number }}" class="status-{{ pr.status }}"
                data-priority="{{ pr.status }}:{{ pr.priority }}:{{ number }}"
                data-update="{{ update_at }}"
                data-number="{{ number }}"
                data-complexity="{{ (pr.additions + 1) * (pr.deletions + 1) }}"
                data-filter="
number:{{ number }}
author:{{ pr.author }}
title:{{ pr.title }}
{{ pr.mergeable }}
labels:{% for label in pr.labels %}{{ label.name }},{% endfor %}
{% if pr.priority == -1 %}rollup
{% endif %}p={{ pr.priority }}
{{ pr.status }}{% if pr.is_trying %} (try){% endif %}
{% for ci in pr.ci_status %}{{ m::ci_name(context=ci.context) }}:{{ ci.state }}
{% endfor %}">
            <div class="number">
                <div class="order">#0</div>
                <label class="base-ref-{{ pr.base_ref_name }}"><input type="checkbox">{{ number }}</label>
            </div>
            <div class="priority">
                {%- if pr.priority == -1 -%}
                    rollup
                {%- elif pr.priority > 0 -%}
                    p={{ pr.priority }}
                {%- endif -%}
            </div>
            <div class="title">
                <a href="https://github.com/{{ args.owner }}/{{ args.repository }}/pull/{{ number }}">{{ pr.title }}</a>
            </div>
            <ul class="ci-status">
                {%- if pr.mergeable == "CONFLICTING" -%}
                <li class="ci-status-merge-conflict">☔️ merge conflict</li>
                {%- endif -%}
                {{ m::cis(cis=pr.ci_status) }}
                <li>
                    {{ m::homu_status(status=pr.status) }}
                    {%- if pr.is_trying %}
                    (try)
                    {%- endif -%}
                </li>
            </ul>
            <div class="tags">
                {%- for label in pr.labels -%}
                {{ m::label(label=label) }}
                {%- endfor -%}
            </div>
            <div class="metadata">
                opened {{ m::rel_time(datetime=pr.created_at) }} by {{ m::actor(username=pr.author) }}
                ::
                <span class="additions">+{{ pr.additions }}</span>/<span class="deletions">−{{ pr.deletions }}</span>
                ::
                <span class="comment-metadata">
                    updated {{ m::rel_time(datetime=update_at) }}
                </span>
                <div class="comment">
                    <p>Loading…</p>
                </div>
                {%- if pr.status == "Approved" %}
                    <span class="manual-rollup" title="Show manual rollup instruction" data-instruction="
git fetch origin +refs/pull/{{ number }}/merge: &amp;&amp;
git merge --no-ff FETCH_HEAD^2 -m '
Rollup merge of #{{ number }} - {{ pr.author }}:{{ pr.head_ref_name }}, r={{ pr.approver }}

{{ pr.title | escape_rollup_instruction }}

{{ pr.body | escape_rollup_instruction }}
'
">
                        :: ↺
                    </span>
                {%- endif -%}
            </div>
        </li>
        {%- endfor -%}
    </ul>
    <div id="selection">
        <div>
            <textarea rows="10" cols="80" id="selected-numbers"></textarea>
            <p>
                <button id="select-rollups">Select approved rollups</button>
                <button id="select-none">Deselect all</button>
                —
                <button id="update-selection"><strong>Update selection</strong></button>
            </p>
        </div>
    </div>
    <script>
        'use strict';
        var HOMU_URL = '{{ args.homu_url | safe | url_last_path_component }}';
        var CLIENT_ID = '{{ args.homu_client_id }}';
    </script>
    <script src="static/common.js?v=12"></script>
</body>
</html>