<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>borsholder</title>
    <link rel="stylesheet" href="static/common.css?v=3">
    <link rel="icon" href="static/favicon.png?v=1" type="image/png">
    <base target="_blank">
</head>
<body>
    {% import "macros.html" as m %}
    <div id="bar">
        <span>
            Sort by <select id="sort">
                <option value="priority">approval status</option>
                <option value="update">recent update</option>
                <option value="commit">commit time</option>
            </select>
        </span>
        <span>
            {{ stats.count }} total,
            {{ stats.approved }} approved,
            {% if stats.rollups == 1 %}
                1 rollup
            {% else %}
                {{ stats.rollups }} rollups
            {% endif %}
        </span>
        <span id="bar-details">
            <input id="filter" type="search" placeholder="filter (case-insensitive regex)">
            <button id="select">Select all</button>
            <button id="deselect">Deselect all</button>
            <button id="rollup">Create rollup</button>
            <span>(<span id="select-count">0</span> selected)</span>
            <span id="filter-status"></span>
        </span>
    </div>
    <p id="loading-text">(Still loading, please wait…)</p>
    <ul id="queue">
        {% for number, pr in prs %}
            {% set last_event = pr.timeline | last %}
            {% set update_at = m::event_time(event=last_event) %}
            {% set update_user = m::event_user(event=last_event) %}
        <li id="pr-{{ number }}" class="status-{{ pr.status }}"
                data-priority="{{ pr.status }}:{{ pr.priority }}:{{ number }}"
                data-update="{{ update_at }}"
                data-commit="{{ pr.committed_at }}"
                data-number="{{ number }}"
                data-filter="
number:{{ number }}
author:{{ pr.author }}
title:{{ pr.title }}
{{ pr.mergeable }}
labels:{% for label in pr.labels %}{{ label.name }},{% endfor %}
{% if pr.priority == -1 %}rollup
{% endif %}p={{ pr.priority }}
{{ pr.status }}{% if pr.is_trying %} (try){% endif %}
{% for ci in pr.ci_status %}{{ m::ci_name(context=ci.context) }}:{{ ci.state }}
{% endfor %}">
            <div class="number">
                <div class="order">#0</div>
                <label><input type="checkbox">{{ number }}</label>
            </div>
            <div class="title">
                <a href="https://github.com/{{ args.owner }}/{{ args.repository }}/pull/{{ number }}">{{ pr.title }}</a>
            </div>
            <ul class="ci-status">
                {% if pr.mergeable == "CONFLICTING" %}
                <li class="ci-status-merge-conflict">☔️ merge conflict</li>
                {% endif %}
                {{ m::cis(cis=pr.ci_status) }}
                <li title="r? @{{ pr.reviewer }}
r={{ pr.approver }}">
                    {{ m::homu_status(status=pr.status) }}
                    {% if pr.is_trying %}
                    (try)
                    {% endif %}
                </li>
            </ul>
            <div class="tags">
                {% for label in pr.labels %}
                {{ m::label(label=label) }}
                {% endfor %}
            </div>
            <div class="priority">
                {% if pr.priority == -1 %}
                    rollup
                {% elif pr.priority > 0 %}
                    p={{ pr.priority }}
                {% endif %}
            </div>
            <div class="metadata">
                opened {{ m::rel_time(datetime=pr.created_at) }} by {{ m::actor(username=pr.author) }}
                ::
                <span class="additions">+{{ pr.additions }}</span>/<span class="deletions">−{{ pr.deletions }}</span>
                ::
                {% if pr.reviewer %}
                    r? {{ m::actor(username=pr.reviewer) }}
                {% else %}
                    unassigned
                {% endif %}
                ::
                committed {{ m::rel_time(datetime=pr.committed_at) }}
                ::
                <span class="comment-metadata">
                    updated
                    {% set update_at_html = m::rel_time(datetime=update_at) %}
                    {{ m::event_url(event=last_event, args=args, number=number, html=update_at_html) }}
                    {% if update_user %}
                        by {{ m::actor(username=update_user) }}
                    {% endif %}
                </span>
                <div class="comment">
                    {% for event in pr.timeline %}
                        {% set at = m::event_time(event=event) %}
                        {% set at_html = m::rel_time(datetime=at) %}
                        {% set user = m::event_user(event=event) %}
                        <p class="reply-line">
                            {{ m::event_icon(event=event) }}
                            {{ m::event_url(event=event, args=args, number=number, html=at_html) }}
                            — {{ m::actor(username=user) }}
                            {{ m::event_verb_phrase(event=event) }}
                            {% if event.editor.login is defined %}
                            <small>
                                [last edited {{ m::rel_time(datetime=event.lastEditedAt) }}
                                by {{ m::actor(username=event.editor.login) }}]
                            </small>
                            {% endif %}
                        </p>
                        <div class="reply-body reply-body-{{ event.__typename }}">
                            {% if event.bodyHTML is defined %}
                                {{ event.bodyHTML | sanitize | safe }}
                            {% elif event.__typename == "CrossReferencedEvent" %}
                                Ref {{ event.source.__typename }} #{{ event.source.number }}:
                                <a href="{{ event.source.url }}">{{ event.source.title }}</a>
                            {% elif event.__typename == "ReferencedEvent" %}
                                Ref Commit <code>{{ event.commit.abbreviatedOid }}</code>:
                                <a href="{{ event.commit.url }}">{{ event.commit.messageHeadline }}</a>
                                {% if event.commit.status.contexts is defined %}
                                <ul class="ci-status">
                                    {{ m::cis(cis=event.commit.status.contexts) }}
                                </ul>
                                {% endif %}
                            {% elif event.__typename == "Commit" %}
                                Commit <code>{{ event.abbreviatedOid }}</code>:
                                <a href="{{ event.url }}">{{ event.messageHeadline }}</a>
                                {% if event.status.contexts is defined %}
                                <ul class="ci-status">
                                    {{ m::cis(cis=event.status.contexts) }}
                                </ul>
                                {% endif %}
                            {% elif event.__typename == "RenamedTitleEvent" %}
                                {{ event.previousTitle }}<br>
                                ↓<br>
                                {{ event.currentTitle }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <p>
        Last sync:
        GitHub {{ m::rel_time(datetime=github_last_update) }},
        Homu {{ m::rel_time(datetime=homu_last_update) }}.
        <a href="sync" target="_self">Sync immediately.</a>
    </p>
    <script>
        'use strict';
        var HOMU_URL = '{{ args.homu_url | url_last_path_component }}';
        var CLIENT_ID = '{{ args.homu_client_id }}';
    </script>
    <script src="static/common.js?v=7"></script>
</body>
</html>